html, body, #root{
	height: 100%;
}
body{
	display:table;
	width:100%;
	background: #f9f9f9
}


#root{
	text-align:center;
	vertical-align: middle;
	display: table-cell;
}

.wrap{
	display: block;
	width: 700px;
	height: 500px;
	margin:0 auto;
	border:1px solid #d1d1d1;
	background: #f1f1f1;
}


.title{
	width:100%;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	background: #09375E;
	margin-bottom:10px;
	font-weight: bold;
	color:#fff;
	font-size:2em;
}

.todoInput{
	display: block;
	margin-bottom: 10px;
	padding:12px;
	text-align: left;
	line-height: 40px;
}

.todoInput input{
	width:620px;

	line-height: 40px;

}
.todoInput button{
	height: 46px;
	line-height: 40px;
	width:52px;
}

todoList{
	display: block;
	width: 100%;
	height: 450px;
	text-align: left;
	padding:20px;
	box-sizing: border-box;
	margin: 0 auto;

}

.todoItem div{
	display: inline-block;

}

.checked{
	color: #f00;
	text-decoration:line-through;

}

.draggable {
    background-color: white;
    padding:10px;
    border:1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
	cursor: pointer;
	text-align: left;
}

.dragged {
    opacity: 0.7;

}

.placeholder {
  opacity: 0.5;
  width:660px !important;
  height:25px  !important;
}

.draggable button {
	float: right;
}