html, body, #root{
	height: 100%;
}
body{
	display:table;
	width:100%;
	background: #f9f9f9
}


#root{
	text-align:center;
	vertical-align: middle;
	display: table-cell;
}

.wrap{
	display: block;
	width: 500px;
	height: 500px;
	margin:0 auto;
	border:1px solid #d1d1d1;
}


.title{
	width:100%;
	height: 50px;
	line-height: 50px;
	display: inline-block;
	background: #09375E;
	margin-bottom:10px;
	font-weight: bold;
	color:#fff;
	font-size:2em;
}

.todoInput{
	display: block;
	margin-bottom: 10px;
}


todoList{
	display: block;
	width: 100%;
	height: 450px;
	text-align: left;
	padding:20px;
	box-sizing: border-box;
	margin: 0 auto;

}

.todoItem div{
	display: inline-block;
	cursor: pointer;
}

.checked{
	color: #f00;
	text-decoration:line-through;

}

.draggable {
    background-color: yellow;
    margin: 10px;
}

.dragged {
    opacity: 0.7;
}

.placeholder {
  opacity: 0.5;
}